body {
    font-family: 'Roboto Condensed', 'Open Sans', sans-serif;
}
.header-navbar {
    height: 40px;
    font-weight: bolder;
}
.header-logo {
    height: 400px;
    text-align: center;
    color: white;
    background: #87509c;
    background-size: cover;
    background-position: bottom;
}
.navbar-brand {
    font-family: 'Myriad Pro Regular';
    
}

.navbar a {
    color: white;
    /*font-family: 'TitilliumWeb Regular';*/
}

.nav-link.active {
    background: #643a79;
}

.container-logo {
    padding-top: 100px;
    position: relative;
}

.logo-button {
    width: 200px;
    height: 40px;
    background: #eb7d4b;
    border-color: #c86a40;
    margin: 30px;
    text-align: center;
    font-size: 12px;
    color: white;
}


.section-service {
    min-height: 600px;
    text-align: center;
    color: white;
    background: #17c2a4;
    padding: 30px;
}

.section-service h1 {
    margin-bottom: 50px;
    position: relative;
}

.section-service h1::after {
    content: "";
    position: absolute;
    top: calc(100% + 20px);
    left: calc(50% - 50px);
    width: 100px;
    height: 2px;
    background-color: #07584a; 
}

.section-service p {
    text-align: center;
    font-size: 12px;
    line-height: 5px;
}

.section-service .row {
    padding-top: 70px;
    padding-bottom: 70px;
}

.section-service .info {
    position: relative;
}

.section-service h2 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bolder;
}
.section-service img {
    height: 100px;
    width: 100px;
}

.section-team {
    height: 700px;
    background: #e7f1f8;
    text-align: center;
    padding: 30px;
}

.section-team h1 {
    text-align: center;
    margin: 50px 0px 50px 0;
    position: relative;
    color: #494852;
}

.section-team h1::after {
    content: "";
    position: absolute;
    top: calc(100% + 20px);
    left: calc(50% - 50px);
    width: 100px;
    height: 2px;
    background-color:#c0c0c0;
}

.section-team p {
    text-align: center;
    font-size: 12px;
    color: #494852;
    line-height: 5px;
}

.section-team .row {
    padding-top: 70px;
    padding-bottom: 70px;
}

.section-team h2{
    font-size: 20px;
    margin-bottom: 10px;
    color: #494852;
}

.section-team .lazur{
    text-align: center;
    font-size: 15px;
    color: rgb(21, 185, 214);
    margin-bottom: 30px;
}

.section-team .col-3 img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-bottom: 15px;
}

.section-team i {
    margin-top: 15px;
    font-size: 20px;
}

.section-skills {
    padding-top: 70px;
    height: 500px;
    text-align: center;
}

.section-skills h1 {
    text-align: center;
    margin-bottom: 50px;
    position: relative;
}

.section-skills h1::after {
    content: "";
    position: absolute;
    top: calc(100% + 20px);
    left: calc(50% - 50px);
    width: 100px;
    height: 2px;
    background-color:#c0c0c0;
}

.section-skills p {
    font-size: 15px;
    line-height: 5px;
}

.section-skills img {
    padding: 50px 0px 50px 0px;
}

.section-portfolio {
    padding-top: 70px;
    height: 1300px;
    text-align: center;
    background: #ffdd99;
}

.section-portfolio h1 {
    text-align: center;
    margin-bottom: 50px;
    position: relative;
}

.section-portfolio h1::after {
    content: "";
    position: absolute;
    top: calc(100% + 20px);
    left: calc(50% - 50px);
    width: 100px;
    height: 2px;
    background: #e5c37f;
}

.section-portfolio p {
    font-size: 15px;
    line-height: 5px;
}

.section-portfolio .navbar-port{
    text-align: center;
}

.section-portfolio .white {
    color: black;
    background: white;
}

.section-portfolio .byellow {
    color: black;
    background: #e5c37f;
}

.section-portfolio .row {
    padding-top: 70px;
    padding-bottom: 70px;
}

.section-portfolio .col-6 {
    position: relative;
}

.section-portfolio image {
    width: 500px;
    height: 500px;
    padding: 50px;
}
.section-portfolio .name {
    text-align: center;
    margin: 20px 0px 40px 0px;
}

.section-portfolio .portfolio-button {
    width: 200px;
    height: 40px;
    background: #17c2a4;
    border-color: #14a58c;
    text-align: center;
    margin: 30px;
    font-size: 12px;
    color: white;
}

.section-people {
    padding-top: 70px;
    height: 600px;
    text-align: center;
    background: #d74680;
    color: white;
}

.section-people h1 {
    text-align: center;
    margin-bottom: 50px;
    position: relative;
}

.section-people h1::after {
    content: "";
    position: absolute;
    top: calc(100% + 20px);
    left: calc(50% - 50px);
    width: 100px;
    height: 2px;
    background: #f58cbb94;
}
.section-people h6 {
    font-size: 15px;
    margin-bottom: 40px; 
}
.section-people .row {
    padding-bottom: 70px;
}
.section-people .col-md-2 img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: absolute;
}

.section-people .col-md-4 p {
    text-align: left;
    font-size: 12px;
    line-height: 5px;
    font-style: italic;
}
.section-people .col-md-4 h2 {
    font-size: 20px;
    text-align: left;
    font-weight: 500;
}
.section-people .profession {
    text-align: left;
    font-size: 12px;
    color: #e5c37f;
    font-style: normal; 
}



.section-touch {
    padding-top: 70px;
    height: 500px;
    text-align: center;
    background: #3c5499;
    color: white;
}

.section-touch h1 {
    position: relative;
    text-align: center;
    margin-bottom: 50px;
}
.section-touch h1::after {
    content: "";
    position: absolute;
    top: calc(100% + 20px);
    left: calc(50% - 50px);
    width: 100px;
    height: 2px;
    background: #273a71;
}

.section-touch p {
    font-size: 14px;
}

.section-touch .row {
    margin: 20px;
}

.section-touch .col-4 input {
    width: 100%;
    background: #273a71;
    border: #273a71;
    color: white;
}

.section-touch .col-md-8 textarea {
    height: 150px;
    width: 100%;
    background: #273a71; 
    border: #273a71;
    color: white;
}

.place_holder {
    z-index: 100;
    left: 10px;
    cursor: text;
    position: absolute;
    top: 1px;
    left: 5px;
    width: 100%;
    display: none;
    color: white;
}
.placeinput input:invalid + .place_holder {
    display: inline;
}
.placeinput {
    position: relative;
    overflow: hidden;
}
.place_holder span {
    color: red;
}

/*.section-touch .redstar {
    color: red;
}*/

/*button #30bae7; border 299ec5;
    email #273a71;*/

/*
.footer 
background #344b8e;
twitter 30bae7; */