body {
    font-family: 'Roboto Condensed', 'Open Sans', sans-serif;
}
.header-navbar {
    height: 40px;
    font-weight: bolder;
}
.header-logo {
    height: 400px;
    text-align: center;
    color: white;
    background: #87509c;
    background-size: cover;
    background-position: bottom;
}
.navbar-brand {
    font-family: 'Myriad Pro Regular';
    
}

.navbar a {
    color: white;
    /*font-family: 'TitilliumWeb Regular';*/
}

.nav-link.active {
    background: #643a79;
}

.container-logo {
    padding-top: 100px;
    position: relative;
}

.logo-button {
    width: 200px;
    height: 40px;
    background: #eb7d4b;
    border-color: #c86a40;
    margin: 30px;
    text-align: center;
    font-size: 12px;
    color: white;
}


.section-service {
    min-height: 600px;
    text-align: center;
    color: white;
    background: #17c2a4;
    padding: 30px;
}

.section-service h1 {
    margin-bottom: 50px;
    position: relative;
}

.section-service h1::after {
    content: "";
    position: absolute;
    top: calc(100% + 20px);
    left: calc(50% - 50px);
    width: 100px;
    height: 2px;
    background-color: #07584a; 
}

.section-service p {
    text-align: center;
    font-size: 12px;
    line-height: 5px;
}

.section-service .row {
    padding-top: 70px;
    padding-bottom: 70px;
}
.section-service .info {
    position: relative;
}
.section-service h2 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bolder;
}
.section-service img {
    height: 100px;
    width: 100px;
}

.section-team {
    height: 700px;
    background: #ececec;
    text-align: center;
    padding: 30px;
}

.section-team h1 {
    text-align: center;
    margin: 50px 0px 50px 0;
    position: relative;
    color: #494852;
}

.section-team h1::after {
    content: "";
    position: absolute;
    top: calc(100% + 20px);
    left: calc(50% - 50px);
    width: 100px;
    height: 2px;
    background-color:#c0c0c0;
}

.section-team p {
    text-align: center;
    font-size: 12px;
    color: #494852;
    line-height: 5px;
}

.section-team .row {
    padding-top: 70px;
    padding-bottom: 70px;
}

.section-team h2{
    font-size: 20px;
    margin-bottom: 10px;
    color: #494852;
}
.section-team .lazur{
    text-align: center;
    font-size: 15px;
    color: rgb(21, 185, 214);
    margin-bottom: 30px;
}

.section-team .col-3 img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-bottom: 15px;
}
.section-team i {
    margin-top: 15px;
    font-size: 20px;
}

.section-skills {
    padding-top: 70px;
    height: 500px;
    text-align: center;
}

.section-skills h1 {
    text-align: center;
    margin-bottom: 50px;
    position: relative;
}
.section-skills h1::after {
    content: "";
    position: absolute;
    top: calc(100% + 20px);
    left: calc(50% - 50px);
    width: 100px;
    height: 2px;
    background-color:#c0c0c0;
}
.section-skills p {
    font-size: 15px;
    line-height: 5px;
}
.section-skills img {
    padding: 50px 0px 50px 0px;
}