html,
body {
    height: 100%;
}

.header {
    height: 300px;
    width: 100%;
    background-color: #f7fdfe;
    color: #82868f;
    font-size: 24px;
}

.header-nav {
    padding-top: 20px;
    background-color: green;
    height: 70px;
}

.header-title {
    padding-top: 80px;
    background-color: yellow;
    height: 230px;
    text-align: center;
}
.dd-container {
    width: 1440px;
    height:80px;
    background: #f7fdfe;
}
.logo {
    float: left;
    color: #82868f;
}
nav {
    float: right;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  nav li {
    display: inline-block;
}