html,
body {
    height: 100%;
    font-family: 'Roboto Condensed', 'Open Sans', sans-serif;
}

.header-navbar {
    background-color: #f7fdfe;
}
.dd-btn {
    border-radius: 20%;
    color: white;
}
.dd-btn :hover {
    color: #000000;
}
.dd-lbl a{
    color: #82868f;
}

.header-logo {
    height: 500px;
    padding-top: 190px;
    text-align: center;
    color: white;
    background: url('../images/mountain.jpg');
    background-size: cover;
}
.header-logo p {
    font-size: 32px;
}