body {
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Noto Sans', sans-serif; */
}

.header-navbar {
    height: 40px;
    font-weight: bolder;
}

.header-logo {
    height: 500px;  
    /* Выравнивание текста и цвет применятся на все дочернием блоки и элементы, в этом случае h1 и p */
    text-align: center;
    color: white;
    background: url('../images/header-logo.jpg');
    background-size: cover;/*master magic*/
    background-position: bottom;
}

.navbar-brand {
    font-family: 'Pacifico', cursive;
}

.navbar a {
    color: white;
}

.container-logo {
    padding-top: 100px;
}

.container-logo h1 {
    text-transform: uppercase;
    font-size: 40px;
    border-bottom: 2px solid #1c498b;
    margin-bottom: 30px;
}
.container-logo p {
    color: #ccc;
}

.section-service {
    /* Отступы сверху и снизу по 30px, слева и справа 0 - отступов нет */
    /* Равносильно записи padding-left: 30px; padding-right: 30px; */
    padding: 30px 0;

    /* Новый стиль min-height задает минимульную высоту (нефиксированную!) в 400px */
    /* Если содержимого будет много, то по высоте блок растянется */
    /* Если указать просто height: 400px; то если текста будет слишком много, то он просто поползет за блок */
    /* Логично, что есть и max-height и то же самое с width */
    min-height: 500px;
}
.section-service h1 {
    text-align: center;
    text-transform: uppercase;
    /* border-bottom: 1px solid rgb(12, 154, 219); */
    margin-bottom: 80px;
    position: relative;
}

.section-service h1::after {
    content: "";
    position: absolute;
    top: calc(100% + 20px);
    left: calc(50% - 50px);
    width: 100px;
    height: 1px;
    background-color: blue;
}

.section-service h2 {
    text-align: center;
    text-transform: uppercase;
    /* Отступить от текста, почему бы и нет */
    margin-bottom: 15px;
}

.section-service p {
    /* Выровнять текст по ширине по блока */
    text-align: justify;
}
.section-service .col img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.section-expertise { /*aбсолютли приоритет*/
    padding-top: 70px;
    min-height: 700px;
    background: #ccc url('../images/aside.jpg') no-repeat;
    background-size: 30% 100%;
    background-position: top right;
    text-align: center;
    color: #f7fdfe;
}

.section-expertise .row {
    padding-top: 70px;
    padding-bottom: 70px;
}

.section-expertise .info {
    position: relative;
}

.section-expertise i {
    font-size: 40px;
}

.section-expertise h2 {
    margin-bottom: 15px;
}
.section-expertise .aside {
    float: left;
    height: 200px;
    width: 200px;
}

.section-expertise .expertise-button {
    width: 170px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    line-height: 10px;
    background-color: #0ebfdd;
    /* Отключил обводку, у кнопок по умолчанию есть */
    outline: none;
    /* Здесь задал границу такого же цвета, что и фон */
    border: 1px solid #0ebfdd;
    color: #f7fdfe;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 10px;
}

.section-expertise p {
    text-align: center;
}

/* Не пропускай вложенность, иначе может поплыть верстка в непредсказуемых местах */
.section-expertise img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}


.footer {
    padding-top: 35px;
    height: 600px;
    background-color: #000000;
    color: white;
    text-align: center;
}

.footer .footer-button {
    width: 170px;
    height: 40px;
    border-radius: 20px;
    transition: border .15s ease-in-out, box-shadow .15s ease-in-out;
    text-align: center;
    line-height: 20px;
    background-color: #0ebfdd;
    /* Отключил обводку, у кнопок по умолчанию есть */
    outline: none;
    /* Здесь задал границу такого же цвета, что и фон */
    border: 1px solid #0ebfdd;
    color: #f7fdfe;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 10px;
}

@media (max-width: 768px) {
    .section-expertise {
        background-size: cover;
        background-position: center left;
    }
    .section-expertise i {
        position: absolute;
        top: 0;
        left: 100px;
    }
}


/*logo - 36px (Pacifico)
nav - 14px (montserrat)
h1 - bold 50px (montserrat)
header-p - 20px (notosans)

section1 - bold 40px (montserrat)
16px (montserrat)
14px (notosans)

section2 - bold 40px (montserrat)
16px (notosans)
14px (montserrat)
14px (notosans)
button - bold 15px (montserrat)

section3 - bold 40px (montserrat)
14px (notosans)
16px (montserrat)
14px (notosans)

section4 - bold 40px (montserrat)
16px (montserrat)
14px (notosans)
в кружке - 16px (montserrat)

section5 - bold 40px (montserrat)
bold 16px (montserrat)
14px (notosans)
16px (notosans)

contact us - bold 40px (montserrat)
14px (notosans)
16px (notosans)
инпуты - 14px (notosans)
button - bold 15px (montserrat)

в самом низу - 14px (notosans) */